<apt-breadcrumb [sobject]="category" [label]="(!category) ? ('HEADER.PRODUCT_CATALOG' | translate) : category?.Label">
    <app-action-bar></app-action-bar>
</apt-breadcrumb>
<apt-alert  [record]="cart$ | async"  [autoRun]="false" ></apt-alert>
<apt-constraint-rule-alert></apt-constraint-rule-alert>
<div class="container-fluid py-4" id="top">
    <div class="d-flex justify-content-end mb-2">
        <apt-installed-products></apt-installed-products>
    </div>
    <div class="row">
        <div class="col-12 col-lg-3">
            <div>
                <apt-product-type-filter (onFilterAdd)="onFilterAdd($event)" (onFilterRemove)="onFilterRemove($event)">
                </apt-product-type-filter>

                <apt-category-filter [category]="category" title="{{'PRODUCT_LIST.RELATED_CATEGORIES' | translate}}"
                    limit="10" relationship="peers" class="mb-2" (onChange)="onCategory($event)"></apt-category-filter>

                <apt-category-filter [category]="category" title="{{'COMMON.SUB_CATEGORIES' | translate}}" limit="10"
                    relationship="children" selection="multi" class="mb-2" (onChange)="onSubcategoryFilter($event)">
                </apt-category-filter>

                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{'PRODUCT_LIST.PRODUCT_FAMILY' | translate}}</h5>
                        <apt-input-select [picklistType]="'multipicklist'" [values]="productFamilies$ | async"
                            (onChange)="handlePicklistChange($event)"></apt-input-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div *ngIf="!hasSearchError else showSearchError">

                <div *ngIf="data$ | async as data; else loading">
                    <nav class="navbar navbar-light bg-white p-0 mb-3">
                        <pl-results [recordCount]="data?.TotalCount" [limit]="pageSize" [offset]="(page - 1) * pageSize"
                            [page]="page" [view]="view" [query]="searchString" [sortBy]="sortField"
                            (onViewChange)="view = $event" (onSortChange)="onSortChange($event)"
                            (onPageSizeChange)="onPageSizeChange($event)" class="d-block w-100">
                        </pl-results>
                    </nav>

                    <div class="d-flex justify-content-center position-relative pagination" *ngIf="data?.TotalCount">
                        <pagination (pageChanged)="onPage($event)" [totalItems]="data?.TotalCount" [(ngModel)]="page"
                            [boundaryLinks]="true" [itemsPerPage]="pageSize" [maxSize]="5"
                            [firstText]="paginationButtonLabels.first" [previousText]="paginationButtonLabels.previous"
                            [nextText]="paginationButtonLabels.next" [lastText]="paginationButtonLabels.last">
                        </pagination>
                        <div class="select-all">
                            <apt-select-all [items]="data.Products"></apt-select-all>
                        </div>
                    </div>

                    <div class="row" *ngIf="view == 'grid' && data?.Products">
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3" *ngFor="let product of data?.Products">
                            <apt-product-card [product]="product" class="mb-3"></apt-product-card>
                        </div>
                    </div>

                    <div class="row" *ngIf="view == 'list' && data?.Products">
                        <div class="col-12">
                            <ul class="list-unstyled list-group">
                                <li *ngFor="let product of data?.Products let i = index; let last = last"
                                    class="list-group-item" [class.mb-3]="last">
                                    <apt-product-card [product]="product" type="media"></apt-product-card>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center" *ngIf="data?.TotalCount">
                        <pagination (pageChanged)="onPage($event)" [totalItems]="data?.TotalCount" [(ngModel)]="page"
                            [boundaryLinks]="true" [itemsPerPage]="pageSize" [maxSize]="5"
                            [firstText]="paginationButtonLabels.first" [previousText]="paginationButtonLabels.previous"
                            [nextText]="paginationButtonLabels.next" [lastText]="paginationButtonLabels.last">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center pt-5">
        <apt-dots></apt-dots>
    </div>
</ng-template>

<ng-template #showSearchError>
    <div class="d-flex justify-content-center font-weight-bold mt-5 pt-5">
        {{'HEADER.MIN_VALIDATION_SEARCH_ERROR' | translate}}
    </div>
</ng-template>