_auth="YXB0dHVzLWRldmVsb3Blci1ucG0tcmVsZWFzZTpBS0NwNWRMWEY1M2ZvV0Q2NWdpcUh4aHFoSE1WTW5rd3VlMnNBdmZMbmo5RmJVM0dWc3hFdG54Nnl2cmJOZnJrTXo2cDRXb2c5"
email=devops@apttus.com
always-auth=true
@apttus:registry=https://art01.apttuscloud.io/api/npm/npm
