@use 'sass:math';
@import "variables";
.navbar-brand img{
    max-height: math.div($navbar-brand-height, 2);
}
.navbar{
    height: $navbar-brand-height;
    transition: margin 300ms;
    transition: height 300ms;
    z-index: 1031;
    &.top{
        margin-top: 0px;
        box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
        height: $navbar-brand-height * .6;
    }
}
.subnav{
    transition: margin 300ms;
    margin: 0px;
    &.top{
        margin-top: -40px;
    }
}
.actions>*{
    border-radius: 0px;
    & + *:not([hidden]){
        border-left: 1px solid black;
    }
    margin: 0;
}
.navbar-brand>img{
    transition: .45s;
    &.scale{
        transform: scale(.725);
    }
}

.modal.show .modal-dialog.menu{
    left: 0;
}
.modal-dialog.menu{
    transition: left 300ms;
    margin: -1px 0 0 0;
    left: -20rem;
    width: 20rem;
    .modal-content{
        height: 100vh;
    }
    .list-group-flush .list-group-item{
        border: 0;
    }
}
.store-list>div:not(:last-child){
    border-right: 1px solid $gray-300;
}
app-category-carousel{
    width: 100%;
}
