<nav class="navbar navbar-light bg-white d-flex justify-content-between">
  <span class="navbar-brand">
    {{'MY_ACCOUNT.SETTING.MY_SETTINGS' | translate}}
  </span>
  <button class="btn btn-outline-primary" [routerLink]="['./change-password']">{{'MY_ACCOUNT.SETTING.CHANGE_PASSWORD' | translate}}</button>
</nav>

<div class="row mt-3">
  <div class="col-12 col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
          <span>{{'MY_ACCOUNT.SETTING.USER_INFO' | translate}}</span>
        </h5>
        <dl class="mt-4" *ngIf="user$ | async as user">
          <dd><apt-output-field [record]="user" field="FirstName" [layout]="'inline'" (onChange)="updateUser(user)"></apt-output-field></dd>

          <dd><apt-output-field [record]="user" field="LastName" [layout]="'inline'" (onChange)="updateUser(user)"></apt-output-field></dd>

          <dd><apt-output-field [record]="user" field="Email" [layout]="'inline'" (onChange)="updateUser(user)"></apt-output-field></dd>

          <dd><apt-output-field [record]="user" field="Username" [layout]="'inline'" (onChange)="updateUser(user)"></apt-output-field></dd>

          <dd><apt-output-field [record]="user" field="LocaleSidKey" [layout]="'inline'" (onChange)="updateUser(user)"></apt-output-field></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title mb-3">{{'MY_ACCOUNT.SETTING.ACCOUNT_INFO' | translate}}</h5>
        <dl class="mt-4" *ngIf="account$ | async as account">
          <dd><apt-output-field [record]="account" field="Name" [layout]="'inline'" [editable]="false"></apt-output-field></dd>

          <dd><apt-output-field [record]="account" field="ShippingAddress" [layout]="'inline'" [editable]="false"></apt-output-field></dd>

          <dd><apt-output-field [record]="account" field="Phone" [layout]="'inline'" [editable]="false"></apt-output-field></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
