<app-detail *ngIf="order$ | async as order; else loading" [context]="order">

  <div class="btn-group secondary-actions align-self-stretch" role="group" [ngSwitch]="order?.Status"
    [tooltip]="order.hasErrors ? ('DETAILS.MISSING_REQ_FIELDS' | translate) : ''">
    <ng-container *ngSwitchCase="'Draft'">
      <button type="button" class="btn btn-link text-primary px-4"
        (click)="confirmOrder(order.Id, order.PrimaryContactId)" [ladda]="isLoading" data-style="zoom-in"
        [disabled]="order.hasErrors">{{'ACTION_BAR.CONFIRM_ORDER' | translate}}</button>
      <apt-generate-document [record]="order" class="align-items-stretch d-flex" (onStatusUpdate)="onGenerateOrder()">
      </apt-generate-document>
    </ng-container>

    <ng-container *ngSwitchCase="'Generated'">
      <button type="button" class="btn btn-link text-primary text-primary px-4" [disabled]="order.hasErrors"
        (click)="confirmOrder(order.Id, order.PrimaryContactId)" [ladda]="isLoading"
        data-style="zoom-in">{{'ACTION_BAR.CONFIRM_ORDER' | translate}}</button>
      <apt-present-document [record]="order" class="align-items-stretch d-flex"></apt-present-document>
    </ng-container>

    <ng-container *ngSwitchCase="'Presented'">
      <button type="button" class="btn btn-link text-primary px-4 btn-raised" [disabled]="order.hasErrors"
        (click)="confirmOrder(order.Id, order.PrimaryContactId)" [ladda]="isLoading"
        data-style="zoom-in">{{'ACTION_BAR.CONFIRM_ORDER' | translate}}</button>
    </ng-container>

    <ng-container *ngSwitchCase="'Pending'">
      <ng-container *ngIf="order?.PaymentStatus !== 'Processed'">
        <button type="button" class="btn btn-primary px-4 btn-raised"
          (click)="paymentDetails.makePayment()">{{'PAYMENT_METHOD_LABELS.MAKE_PAYMENT' | translate}}</button>
        <app-payment-details [order]="order" (onPaymentProcessed)="updateOrder(order)" #paymentDetails>
        </app-payment-details>
      </ng-container>
    </ng-container>
  </div>

  <div class="detail-header py-4">
    <div class="d-flex align-items-center mb-2">
      <h3 class="m-0">{{order?.Name}}</h3>
      <span class="badge badge-info ml-3 px-3 py-1 border text-uppercase" *ngIf="order?.Status">{{order?.Status}}</span>
      <div *ngIf="order?.Proposal as proposal" class="ml-auto">
        <apt-output-field [record]="proposal" field="Name" labelClass="d-none" layout="inline" [editable]="false"
          [showQuickView]="true"></apt-output-field>
      </div>
    </div>
    <app-progress *ngIf="orderStatusMap[order.Status]" [steps]="orderStatusSteps"
      [currentStep]="orderStatusMap[order.Status]"></app-progress>
  </div>

  <app-detail-section [title]="'DETAILS.ORDER_SUMMARY' | translate">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body">
            <h5>
              {{'DETAILS.ORDER_SUMMARY' | translate}}
            </h5>
            <div>
              <apt-alert [record]="order"></apt-alert>
            </div>
            <div class="row mt-4">
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="order" field="CreatedDate" layout="inline" [editable]="false">
                </apt-output-field>
                <apt-output-field [record]="order.CreatedBy" field="Name" layout="inline" label="Created By"
                  [editable]="false"></apt-output-field>
                <apt-output-field [record]="order" field="PrimaryContactId" layout="inline"
                  [editable]="orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented'"
                  [showQuickView]="true" [lookupOptions]="lookupOptions" [required]="true"
                  (onChange)="refreshOrder($event, order, 'PrimaryContactId')"></apt-output-field>
                <apt-output-field [record]="order" field="SoldToAccountId" label="SoldToAccount.Name" layout="inline"
                  [editable]="false" [showQuickView]="true"></apt-output-field>
                <apt-output-field [record]="order" field="Description" label="Order Title" layout="inline"
                  [editable]="orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented'"
                  [showQuickView]="true" (onChange)="refreshOrder($event, order, 'Description')"></apt-output-field>
              </dl>
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="order" field="ShipToAccountId" label="Ship To Account" layout="inline"
                  [editable]="orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented'"
                  [showQuickView]="true" [required]="true" (onChange)="refreshOrder($event, order, 'ShipToAccountId')">
                </apt-output-field>
                <apt-output-field [record]="order" field="ShipToAccount.ShippingAddress" label="Ship To Address"
                  layout="inline" [editable]="false"></apt-output-field>
                <apt-output-field [record]="order" field="BillToAccountId" label="Bill To Account" layout="inline"
                  [editable]="orderStatusMap[order.Status] === 'Draft' || orderStatusMap[order.Status] === 'Generated' || orderStatusMap[order.Status] === 'Presented'"
                  [showQuickView]="true" (onChange)="refreshOrder($event, order, 'BillToAccountId')"></apt-output-field>
                <apt-output-field [record]="order" field="BillToAccount.BillingAddress" label="Bill To Address"
                  layout="inline" [editable]="false"></apt-output-field>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <apt-price-summary [record]="order" [page]="'orders'" [showStatus]="true"></apt-price-summary>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="py-2">
          {{'DETAILS.LINE_ITEMS' | translate}}
          <button class="btn btn-sm btn-outline-primary px-4 ml-4"
            *ngIf="order?.Status === 'Draft' || order?.Status === 'Generated' || order?.Status === 'Presented'"
            [ladda]="lineItemLoader" data-style="zoom-in" data-spinner-color="black"
            (click)="editOrderItems(order)">{{'COMMON.EDIT' | translate}}
          </button>
        </h5>
        <table class="table table-responsive">
          <tbody>
            <ng-container *ngFor="let item of orderLineItems$ | async; let i = index">
              <apt-line-item-table-row [index]="i" [parent]="item.MainLine" [options]="item.Options"
                [children]="item.SecondaryLines" [editableFields]="false">
              </apt-line-item-table-row>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </app-detail-section>

  <!-- COMMENT SECTION     -->
  <app-detail-section [title]="'DETAILS.COMMENTS' | translate" class="mt-4">
    <div class="card" *ngIf="noteList$ | async as noteList; else loading">
      <div class="card-body">
        <h5 class="py-2 text-uppercase">
          {{'DETAILS.COMMENTS' | translate}} <span *ngIf="noteList?.length > 0">({{noteList?.length}}) </span>
        </h5>
        <div class="row">
          <div class="col-12 col-md-6 border-right note-container">
            <ng-scrollbar>
              <ng-container *ngIf="noteList?.length > 0; else emptyNotes">
                <div class="my-3 pb-3 pl-3" *ngFor="let note of noteList">
                  <!-- <strong class="d-block">{{note?.Title}}</strong> -->
                  <div class="text-muted d-block mb-2"><strong>{{note?.CreatedBy?.Name}}</strong>
                    {{'COMMON.ON' | translate }}
                    {{note?.CreatedDate | date:'medium'}}</div>
                  <div>
                    {{note?.Body}}
                  </div>
                </div>
              </ng-container>
              <ng-template #emptyNotes>
                <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                  <i class="fa fa-4x fa-comments-o mb-2"></i>
                  {{'COMMON.NO_COMMENTS_TO_DISPLAY' | translate}}
                </div>
              </ng-template>
            </ng-scrollbar>
          </div>
          <div class="col-12 col-md-6">
            <form (ngSubmit)="addComment(order.Id)">
              <apt-input-field [entity]="note" field="Body" rows="5" label="{{'COMMON.ADD_NEW_COMMENT' | translate }}"
                [(ngModel)]="note.Body" name="body">
              </apt-input-field>
              <div class="d-flex justify-content-end">
                <button class="btn btn-link" (click)="clear()" type="button">{{'COMMON.CLEAR' | translate }}</button>
                <button class="btn btn-primary btn-raised" type="submit" [ladda]="commentsLoader"
                  [disabled]="!note.Body">{{'COMMON.ADD_COMMENT' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.ATTACHMENTS' | translate" class="mt-4">
    <div class="card" #attachmentSection>
      <div class="card-body">
        <apt-files [recordId]="order.Id" [orderGenerated]="orderGenerated" class="d-block w-100"></apt-files>
      </div>
    </div>
  </app-detail-section>
</app-detail>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>