.modal-header {
  flex-wrap: wrap;
  border: none;
  &::after {
    margin-top: 16px;
    margin-bottom: -16px;
    width: 100%;
    content: '';
    border-bottom: 1px solid #CCCCCC;
  }
}

.modal-footer {
  background-color: #F1F1F1;
  border-top: 1px solid #CCCCCC;
}