.price-summary {
    div.col-6 {
        height: 2rem;
    }
}

.file-section{
    height: 150px;
    border-style: dashed;
    border-width: 1px;
}

.note-container, .attachment-container{
    height: 35vh;
}

.file-upload {
    input[type='file'] {
        opacity: 0;
        z-index: -1;
    }
}

.upload-icon-position{
    left:0;
    top:30px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    app-detail-section table {
        display: table;
    }
}