.price-summary {
    div.col-6 {
        height: 2rem;
    }
}

.file-section{
    height: 150px;
    border-style: dashed;
    border-width: 1px;
}

.note-container, .attachment-container{
    height: auto;
    max-height:56vh;
}

.file-upload {
    input[type='file'] {
        opacity: 0;
        z-index: -1;
    }
}

.upload-icon-position{
    left:0;
    top:30px;
}

app-quote-details {
    app-detail {
      div.btn-group.global-actions{
          right: -30px;
          margin: 0 0 0 -30px;
      }
      app-detail-section {
        apt-output-field {
          span {
            margin-bottom: 0.5rem;
            dt, dd {
              flex-basis: 50%;
            }
          }
          &:last-child {
            span {
              margin-bottom: 0;
            }
          }
        }
      }
      .note-container, .attachment-container{
        height: auto;
        max-height: 56vh;
      }
    }
  }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    app-detail-section table {
        display: table;
    }
}