<app-detail *ngIf="quote$ | async as quote; else loading" [context]="quote">
  <div class="detail-header py-4">
    <div class="d-flex align-items-center mb-3">
      <h3 class="m-0">{{quote?.Name}}</h3>
      <span class="badge badge-light ml-3 px-3 py-1 border text-uppercase"
        *ngIf="quote?.Approval_Stage">{{quote?.Approval_Stage}}</span>
      <div *ngIf="quote?.Approval_Stage === 'Accepted' && order$ | async as order" class="ml-auto">
        <span class="pr-4 d-flex align-items-center">
          <apt-output-field [record]="order" field="Name" label="Order ID" layout="inline" [editable]="false"
            [showQuickView]="true"></apt-output-field>
          <span class="badge badge-info ml-1">{{order?.Status}}</span>
        </span>
      </div>
      <button type="button" [ngClass]="quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' ?  'btn btn-outline-primary btn-link text-primary text-primary ml-auto ' :'btn btn-primary btn-raised ml-auto'" [ladda]="acceptLoader"
        *ngIf="quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
        (click)="acceptQuote(quote?.Id, quote?.Primary_Contact?.Id)">{{'COMMON.ACCEPT_QUOTE'
        |translate}}</button>
      <apt-generate-document *ngIf="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved'" [record]="quote" [ngClass]="quote.Approval_Stage === 'Draft' ?  'pr-4 ml-auto ' :' pl-4 '" (onStatusUpdate)="onGenerateQuote()">
      </apt-generate-document>
      <button type="button" class="btn btn-primary btn-raised py-2" [ladda]="finalizeLoader"
        *ngIf="quote?.Approval_Stage === 'Draft'"
        (click)="finalizeQuote(quote?.Id)">{{'MY_ACCOUNT.QUOTE_DETAIL.FINALIZE'
        |translate}}</button>
        <div class="align-items-stretch d-flex pl-4"  *ngIf="quote?.Approval_Stage === 'Generated'">
          <apt-present-document [record]="quote"></apt-present-document>
        </div>
    </div>
    <app-progress class="status-bar" *ngIf="quoteStatusMap[quote.Approval_Stage]" [steps]="quoteStatusSteps"
      [currentStep]="quoteStatusMap[quote.Approval_Stage]">
    </app-progress>
  </div>

  <app-detail-section [title]="'DETAILS.QUOTE_SUMMARY' | translate">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="card">
          <div class="card-body">
            <h5>{{'DETAILS.QUOTE_SUMMARY' | translate}}</h5>
            <div class="row mt-4">
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="quote" field="Proposal_Name" label="Quote Title" layout="inline"
                  [editable]="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
                  (onChange)="refreshQuote($event, quote, 'Proposal_Name')">
                </apt-output-field>
                <apt-output-field [record]="quote" field="CreatedDate" layout="inline" [editable]="false">
                </apt-output-field>
                <apt-output-field [record]="quote.CreatedBy" field="Name" label="Created By" layout="inline"
                  [editable]="false"></apt-output-field>
                <apt-output-field [record]="quote" field="RFP_Response_Due_Date" layout="inline"
                  [editable]="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
                  (onChange)="refreshQuote($event, quote, 'RFP_Response_Due_Date')">
                </apt-output-field>
                <apt-output-field [record]="quote" field="Primary_ContactId" layout="inline"
                  [editable]="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
                  [showQuickView]="true" [lookupOptions]="lookupOptions"
                  (onChange)="refreshQuote($event, quote, 'Primary_ContactId')">
                </apt-output-field>
                <apt-output-field [record]="quote" field="AccountId" label="Account Name" layout="inline"
                  [editable]="false" [showQuickView]="true"></apt-output-field>
              </dl>
              <dl class="col-12 col-md-6">
                <apt-output-field [record]="quote" field="ShipToAccountId" layout="inline"
                  [editable]="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
                  label="Ship To Account" [showQuickView]="true"
                  (onChange)="refreshQuote($event, quote, 'ShipToAccountId')"></apt-output-field>
                <apt-output-field [record]="quote" field="ShipToAccount.ShippingAddress" label="Ship To Address"
                  layout="inline" [editable]="false"></apt-output-field>
                <apt-output-field [record]="quote" field="BillToAccountId" layout="inline"
                  [editable]="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Approved' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Presented'"
                  label="Bill To Account" [showQuickView]="true"
                  (onChange)="refreshQuote($event, quote, 'BillToAccountId')"></apt-output-field>
                <apt-output-field [record]="quote" field="BillToAccount.BillingAddress" label="Bill To Address"
                  layout="inline" [editable]="false"></apt-output-field>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <apt-price-summary [record]="quote" [page]="'quotes'"></apt-price-summary>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="py-2">
          {{'DETAILS.LINE_ITEMS' | translate}}
          <button class="btn btn-sm btn-outline-primary px-4 ml-4"
            *ngIf="quote?.Approval_Stage === 'Draft' || quote?.Approval_Stage === 'Generated' || quote?.Approval_Stage === 'Approved'|| quote?.Approval_Stage === 'Presented'"
            [ladda]="editLoader" data-style="zoom-in" data-spinner-color="black"
            (click)="editQuoteItems(quote.Id)">{{'COMMON.EDIT' | translate}}</button>
        </h5>
        <table class="table table-responsive border-bottom">
          <tbody>
            <ng-container *ngFor="let item of quoteLineItems$ | async; let i = index">
              <apt-line-item-table-row [index]="i" [parent]="item.MainLine" [options]="item.Options"
                [children]="item.SecondaryLines" [editableFields]="false">
              </apt-line-item-table-row>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.COMMENTS' | translate" class="mt-4">
    <div class="card" *ngIf="noteList$ | async as noteList; else loading">
      <div class="card-body">
        <h5 class="py-2 text-uppercase">
          {{'DETAILS.COMMENTS' | translate}} <span *ngIf="noteList?.length > 0">({{noteList?.length}})</span>
        </h5>
        <div class="row">
          <div class="col-12 col-md-6 border-right note-container">
            <ng-scrollbar>
              <ng-container *ngIf="noteList?.length > 0; else emptyNotes">
                <div class="my-3 pb-3" *ngFor="let note of noteList">
                  <!-- <strong class="d-block">{{note?.Title}}</strong> -->
                  <div class="text-muted d-block mb-2"><strong>{{note?.CreatedBy?.Name}}</strong>
                    {{'COMMON.ON' | translate }}
                    {{note?.CreatedDate | date:'medium'}}</div>
                  <div>
                    {{note?.Body}}
                  </div>
                </div>
              </ng-container>
              <ng-template #emptyNotes>
                <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                  <i class="fa fa-4x fa-comments-o mb-2"></i>
                  {{'COMMON.NO_COMMENTS_TO_DISPLAY' | translate}}
                </div>
              </ng-template>
            </ng-scrollbar>
          </div>
          <div class="col-12 col-md-6">
            <form (ngSubmit)="addComment(quote.Id)">
              <apt-input-field [entity]="note" field="Body" rows="5" label="{{'COMMON.ADD_NEW_COMMENT' | translate }}"
                [(ngModel)]="note.Body" name="body" [required]="true"></apt-input-field>
              <div class="d-flex justify-content-end">
                <button class="btn btn-link" (click)="clear()" type="button">{{'COMMON.CLEAR' | translate }}</button>
                <button class="btn btn-primary btn-raised" type="submit" [ladda]="commentsLoader"
                  [disabled]="!note.Body">{{'COMMON.ADD_COMMENT' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.ATTACHMENTS' | translate" class="mt-4">
    <div class="card" #attachmentSection *ngIf="attachmentList$ | async as attachmentList; else loading">
      <div class="card-body">
        <h5 class="py-2 text-uppercase">
          {{'DETAILS.ATTACHMENTS' | translate}}
          <span *ngIf="attachmentList?.length > 0">({{attachmentList?.length}})</span>
        </h5>

        <div class="row">
          <div class="col-12 col-md-6 border-right attachment-container">
            <ng-scrollbar>
              <ng-container *ngIf="attachmentList?.length > 0; else emptyAttachments">
                <div class="mb-2 hide-hscroll" *ngFor="let attachment of attachmentList">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="d-flex justify-content-between">
                        <a class="text-underline text-break" href="{{downloadAttachment(attachment.Id, quote.Id)}}"
                          target="_blank">{{attachment?.Name}}
                        </a>
                        <span>{{(attachment?.BodyLength/1024).toFixed(2)}}KB</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="d-flex">
                        <span class="pl-2">{{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.BY' | translate}}
                          {{attachment?.CreatedBy.Name}},</span>
                        <span class="pl-3">{{attachment?.CreatedDate | date:'short'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #emptyAttachments>
                <div class="d-flex align-items-center justify-content-center flex-column h-100 text-muted">
                  <i class="fa fa-4x fa-file-o mb-2"></i>
                  {{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.NO_ATTACHMENTS' | translate}}
                </div>
              </ng-template>
            </ng-scrollbar>
          </div>
          <div class="col-12 col-md-6">
            <form (ngSubmit)="uploadAttachment(quote.Id)">
              <label class="font-weight-bold">{{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.TITLE' | translate}}</label>
              <div
                class="file-section bg-light d-flex align-items-center justify-content-center border-secondary file-upload"
                (dragover)="onDragFile($event)" (drop)="onDropFile($event)" data-max-size="26214400">
                <label class="p-5 position-relative" for="browse"><span
                    class="position-absolute upload-icon-position"><i
                      class="fa fa-4x fa-cloud-upload text-black-50"></i></span><span
                    class="pl-4">{{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.INPUT_LABEL' | translate}}</span><span
                    class="pl-1 text-underline cursor-pointer">{{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.BROWSE' |
                    translate}}</span></label>
                <input id="browse" class="d-none p-5" type="file" (change)="fileChange($event)"
                  data-max-size="26214400" />
              </div>
              <div class="mt-2" *ngIf="hasSizeError && file != null">
                <p class="text-danger">
                  {{'MY_ACCOUNT.QUOTE_DETAIL.ATTACHMENTS.FILE_SIZE_EXCEEDED_ERROR' | translate}}
                </p>
              </div>
              <div class="form-group">
                <div class="mt-2" *ngIf="uploadFileList && !hasSizeError">
                  <div class="d-flex justify-content-between" *ngFor="let file of uploadFileList">
                    <div class="w-70"><span>{{file?.name}}</span></div>
                    <div class="w-30"><span>{{(file?.size/1024).toFixed(2)}} KB</span></div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-link" (click)="clearFiles()" type="button">{{'COMMON.CLEAR' |
                  translate}}</button>
                <button class="btn btn-primary btn-primary" type="submit" [disabled]="!file"
                  [ladda]="attachmentsLoader">{{'COMMON.UPLOAD' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </app-detail-section>

  <ng-template #intimationTemplate>
    <div class="modal-header align-items-center p-0 mx-4 mt-3 border-bottom border-secondary">
      <h6 class="modal-title pull-left font-weight-bold">
        {{'COMMON.ACCEPT_QUOTE' | translate}}
      </h6>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body d-flex flex-column justify-content-center py-4">
      <p class="text-center"><strong>{{ 'QUOTE_CONFIRMATION_MODAL.THANK_YOU' | translate }}!</strong></p>
      <span class="text-center" [translate]="'DETAILS.SUCCESSFUL_QUOTE_ACCEPTANCE_MESSAGE'"
        [translateParams]="{quoteName: quote?.Name}"></span>
    </div>
  </ng-template>
</app-detail>

<ng-template #loading>
  <div class="d-flex justify-content-center pt-5">
    <apt-dots></apt-dots>
  </div>
</ng-template>