<apt-breadcrumb [label]="'FILTER.ASSETS' | translate">
  <app-action-bar></app-action-bar>
</apt-breadcrumb>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="mr-auto">
        <div class="input-group">
          <input type="search" class="form-control" placeholder= "{{'INSTALLED_PRODUCTS.SEARCH_ASSETS' | translate}}" [(ngModel)]="searchQuery"
            (change)="handleSearchChange()" autocomplete="off">
          <div class="input-group-append">
            <button class="btn" type="button">
              <span class="oi oi-magnifying-glass p-0"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="d-flex justify-content-center">
        <pagination
          (pageChanged)="onPage($event)"
          [totalItems]="totalItems"
          [(ngModel)]="page"
          [boundaryLinks]="true"
          [itemsPerPage]="pageSize"
          [maxSize]="5"
          [firstText]="paginationButtonLabels.first"
          [previousText]="paginationButtonLabels.previous"
          [nextText]="paginationButtonLabels.next" 
          [lastText]="paginationButtonLabels.last"
        ></pagination>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3">
      <app-renewal-filter class="d-block mb-2" (value)="onRenewalChange($event)"></app-renewal-filter>
      <app-price-type-filter class="d-block mb-2" (value)="onPriceTypeChange($event)"></app-price-type-filter>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"> {{'INSTALLED_PRODUCTS.PRODUCT_FAMILY' | translate}} </h5>
          <apt-input-select
            [picklistType]="'multipicklist'"
            [values]="productFamilies"
            (onChange)="handlePicklistChange($event)"
          ></apt-input-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <apt-asset-list
        [pageAssets]="showingFullList ? groupedPageAssetLineItems : selectedPageItems"
        [operation]="operation"
        [totalAssets]="totalItems"
        (onSelectedAmountClick)="handleSelectedAmountClick($event)"
        (onFullListClick)="handleFullListClick()"
      ></apt-asset-list>
      <div class="d-flex justify-content-center mt-3">
        <pagination
          (pageChanged)="onPage($event)"
          [totalItems]="totalItems"
          [(ngModel)]="page"
          [boundaryLinks]="true"
          [itemsPerPage]="pageSize"
          [maxSize]="5"
          [firstText]="paginationButtonLabels.first"
          [previousText]="paginationButtonLabels.previous"
          [nextText]="paginationButtonLabels.next" 
          [lastText]="paginationButtonLabels.last"
        ></pagination>
      </div>
    </div>
  </div>
</div>
  