<apt-breadcrumb>
    <app-action-bar></app-action-bar>
</apt-breadcrumb>
<apt-alert [record]="cart$ | async" [autoRun]="false"></apt-alert>
<div class="row no-gutters flex-fill">
    <div class="col-2 border-right bg-white">
        <div class="card" *ngIf="me$ | async as me">
            <div class="card-body">
                <div class="media">
                    <img [src]="me?.SmallPhotoUrl | image : false" class="img-circle" width="45" height="45" />
                    <div class="media-body ml-3 text-truncate">
                        <h5 class="my-0">{{me?.FirstName}} {{me?.LastName}}</h5>
                        <div>{{me?.Title}}</div>
                        <small class="text-turncate text-muted">{{'MY_ACCOUNT.LAST_LOGIN_DATE' | translate}}
                            {{me?.LastLoginDate | date : 'short'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group list-group-flush pt-0">
            <a href="javascript:void(0)" [routerLink]="['/orders']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.MY_ORDERS' | translate}}</a>
            <a href="javascript:void(0)" [routerLink]="['/proposals']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.MY_QUOTES' | translate}}</a>
            <a href="javascript:void(0)" [routerLink]="['/carts']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.MY_CARTS' | translate}}</a>
            <a *ngIf="showFavorites$ | async" href="javascript:void(0)" [routerLink]="['/favorites']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.MY_FAVORITES' | translate}}</a>
            <a href="javascript:void(0)" [routerLink]="['/assets']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.INSTALLED_PRODUCTS' | translate}}</a>
            <a href="javascript:void(0)" [routerLink]="['/products']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.PRODUCT_CATALOG' | translate}}</a>
            <a href="javascript:void(0)" [routerLink]="['/user']" routerLinkActive="active"
                class="list-group-item list-group-item-action">{{'COMMON.MY_ACCOUNT_SETTINGS' | translate}}</a>
        </ul>
    </div>
    <div class="col-10 p-3">
        <router-outlet></router-outlet>
    </div>
</div>