<div class="d-flex justify-content-center align-items-center h-100">
  <form (ngSubmit)="setPassword()">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{'CHANGE_PASSWORD.SET_PASSWORD' | translate}}</h5>
        <div class="form-group">
          <label for="passwordA">{{'CHANGE_PASSWORD.NEW_PASSWORD' | translate}}</label>
          <input type="password" class="form-control" id="passwordA" placeholder="{{'CHANGE_PASSWORD.PLACEHOLDER_PASSWORD' | translate}}" [(ngModel)]="passwordForm.passwordA" name="passwordA"
            minlength="6" required #passwordA="ngModel">
        </div>
        <div class="form-group">
          <label for="passwordB">{{'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate}}</label>
          <input type="password" class="form-control" id="passwordB" placeholder="{{'CHANGE_PASSWORD.PLACEHOLDER_PASSWORD' | translate}}" [(ngModel)]="passwordForm.passwordB" name="passwordB"
            minlength="6" required #passwordB="ngModel">
        </div>
        <small class="text-danger animated fadeIn d-block" *ngIf="message">{{message}}</small>
        <small class="text-danger animated fadeIn d-block" *ngIf="passwordA.touched && passwordA?.errors?.minlength">{{'CHANGE_PASSWORD.PASSWORD_MIN_LENGTH_ERROR' | translate}}</small>

        <div class="d-flex justify-content-end mt-4">
          <button type="button" class="btn btn-secondary mr-2 w-25"  [routerLink]="['/user']" >{{'COMMON.CANCEL' | translate}}</button>
          <button type="submit" class="btn btn-primary w-25" [ladda]="loading">{{'CHANGE_PASSWORD.SUBMIT' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>